doctype html
html
	head
	body
		script(src="./js/homepage.js" type="text/javascript")
		div(id="viewport")
			- if(file.mimeType.includes('image')) {
			img(src=file.createImageUrl() type=file.mimeType)
			- } else {
			div #{file.content}
			- }