extends layout.pug
block content
        h1 What is the Omega Gaming Project?        
            h2 Our Goal:            
                h4 The goal of the Omega Gaming Project is to bring about a new era of gaming. We are striving to do this in 3 ways: Procedural Game Design, Life-like genetic progression, and by applying a new breed of gaming AI: AlphaNet.                
            h2 Procedural Game Design:            
                h4 OGP will focus on providing a unique experience to every single player by minimizing the amount of static material from the start. Our maps, interactions, and overall design will have minimal programmer influence; the player will decide the path the world takes on an entirely new level.                
            h2 Life-like Genetic Progression:            
                h4 By incorporating artificial genetic sequences to control a multitude of traits and applying modern genetic sciences, it becomes possible to further provide a unique and interesting experience to every player. Of course, this means that there will be genes that excel in certain environments but struggle in others, which adds another layer of possibilities.               
            h2 From the Omega rises the Alpha:            
                h4 Every good game needs an AI capable of providing interactions between the player and the game. AlphaNet is our innovative approach to the already well-established concept of Neural Network AIs. Unlike the decision trees that are currently in use, AlphaNet strives to create better, faster, and more human-like interactions between human and machine with only the information that a human in the same position might receive.