extends layout.pug
		
block content
	h1 Join Us!
	h2 We need inspired, innovative, and imaginative people to help us take flight. If what we are trying to accomplish strikes a chord with you, find us on Facebook or email us at omega.gaming.project@gmail.com.
	div
	div
	div
	h2 Love what we're doing? Then talk about it! Make a tweet with #OGPROCKS to show your support!
	form(method="get" action="/tweet")
		textarea(name="TweetData" placeholder="Write a tweet here!")
		button(type="submit") Tweet It!