doctype html
html
	head
		block styles
		link(href="/css/flex.css" rel="stylesheet" type="text/css")
		link(href="/css/layout.css" rel="stylesheet" type="text/css")
		link(href="/css/form.css" rel="stylesheet" type="text/css")
	body
		
		div.navbar
			a(href="/").navbar-home.navbar-btn
				img(src="/img/logo.png")
			div.navbar-title Omega Gaming Project
			a(href="/drive").navbar-item.navbar-btn Google Drive
			a(href="/twitter/login").navbar-item.navbar-btn Join Us
		div.content-container
			block content
		div.footer
			span Contact us at omega.gaming.project@gmail.com or find us on Facebook at 
				a(href="https://www.facebook.com/groups/291378348378869/") Omega Gaming Project

		block scripts
