doctype html
html
	head
		block styles
		block scripts
		link(href="/css/flex.css" rel="stylesheet" type="text/css")
		link(href="/css/layout.css" rel="stylesheet" type="text/css")
	body
		div.navbar
			img(id="logo" src="/img/tempsymbol.jpg")
			div.navbar-item Google Drive
			div.navbar-item Join Us
		div.content-container
			block content
		div.footer
			span Contact us at omega.gaming.project@gmail.com or find us on Facebook at 
				a(href="https://www.facebook.com/groups/291378348378869/") Omega Gaming Project