doctype html
html
	head
		block styles
		block scripts
		link(href="/css/flex.css" rel="stylesheet" type="text/css")
		link(href="/css/layout.css" rel="stylesheet" type="text/css")
	body
		div.navbar
			div.navbar-item Google Drive
			div.navbar-item Join Us
		div.content-container
			block content