extends layout.pug
block styles
	link(href="/css/list.css" rel="stylesheet" type="text/css")
block scripts
	script(src="/js/list.js" type="text/javascript")
block content
	div.list
		each item in itemList
			- let itemClick = `itemClick('${item.id}');`
			div.list-item(onmousedown=itemClick)
				img(src=item.icon).list-item-icon
				div.list-item-name #{item.name}
					
		
		