extends layout.pug
include treeNode.pug
block styles
	link(href="/css/list.css" rel="stylesheet" type="text/css")
	link(href="/css/imageView.css" rel="stylesheet" type="text/css")
block scripts
	script(src="/js/list.js" type="text/javascript")
	script(src="/js/tree.js" type="text/javascript")
	script(src="/js/imageView.js" type="text/javascript")
block content
	div.tree-list-container
		div.tree
			+treeNode([{id:'root',name:'My Drive',hasSubDirectories:true,img:'/img/google-drive.svg'}])

				
		div.viewport
			
			
					
		
		