each child in itemList
	- let toggleTreeNode = `toggleTreeNode('${child.id}',event);`
	div.tree-item(id=child.id onclick=toggleTreeNode class= child.hasSubDirectories ? "expandable" : "")
		div.tree-item-header
			img(src="/img/folder_32.png")
			div.tree-item-name #{child.name}
		