body, html {
	margin: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
}
.btn {
	text-align: center;
	cursor: default;
	padding: 8px;
	border: 1px solid silver;
	border-radius: 4px;
	font-family: Arial;
}
.navbar {
	width:100%;
	height: 70px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
	background-color:white;
}
.navbar-item {
	font-family:Arial;

	display:flex;


	font-size: 32px;
	padding:4px;
	padding-left:16px;
	padding-right:16px;
	color:black;
	
	
}
.navbar-btn {
	cursor: default;
	border-radius: 8px;
	border: 1px solid transparent;
}
.navbar-btn:hover {
	box-shadow: 0 0 8px rgba(0,0,0,0.1) inset;
}
.navbar-btn:active {
	border-color: silver;
}
.navbar-home {
	height: 64px;
	width: 64px;
	padding: 2px;
	background-color: white;
	text-align: center;
}
.navbar-home img {
	height:60px;
}

.content-container {
	height: calc(100% - 102px);
	width:100%;
	overflow-y:auto;
}
#logo{
	width: 64px;
	height: 64px;
}
.footer{
	height: 32px;
	width: 100%;
}